@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');

body {
	font-family: 'Rubik', sans-serif;
	background-image: url(../img/layout.jpg);
	background-repeat: repeat;
}

/* HEADER */

header {
	position: sticky;
	z-index: 100;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

/* Contenido Principal Index*/

.hero {
	background-image: url(../img/FoodBack.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	max-width: 100%;
	position: relative;
	padding: 0.5rem 0;
}

.hero__Titulos {
	font-weight: 600;
	font-size: 1.7rem;
	color: #cf712e;
	border-radius: 10px 10px 0 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.videoSize {
	width: 500px;
	height: 400px;
}

/* Contenido Principal Destacados */

.card__destacados {
	background-color: rgba(200, 200, 200, 0.9);
	width: 22rem;
	height: 40rem;
	border-radius: 30px;
}

.card__destacados iframe {
	width: 350px;
	height: 300px;
}

/* FOOTER*/

footer {
	font-weight: 600;
	font-size: 1.2rem;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1.5rem 0;
}

footer a {
	text-decoration: none;
	cursor: context-menu;
}

footer img {
	width: 2rem;
}

.footer__aboutUs {
	color: #4c0d0d;
}

.stickyArrow img {
	z-index: 100;
	position: fixed;
	width: 4rem;
	right: 1rem;
	bottom: 4rem;
}

@media (max-width: 768px){
	.navItems {
		border: solid 1px;
		background-color: rgba(0, 0, 0, 0.5);
		border-color: grey;
		border-radius: 10px;
	}

	#hero_Contenido iframe {
		border-radius: 30px;
	}
}

@media (min-width: 768px) {
	
	.navItems {
		font-size: 1.2rem;
	}

	.navItems:hover, .footer__aboutUs:hover {
		border: solid 1px;
		background-color: rgba(0, 0, 0, 0.5);
		border-color: grey;
		border-radius: 20px;
	}

	.footer__aboutUs:hover {
		color: #4c0d0d;
	}

	.hero__Titulos {
		font-size: 2rem;
	}

	.videoSize {
		width: 740px;
		height: 500px;
	}

	.card__destacados iframe {
		width: 350px;
		height: 300px;
	}

	footer {
		font-size: 1.4rem;
	}
}